etl-pipeline/statemachine/recipe_pipeline.asl.json
{
    "Comment": "A state machine that does mock stock trading.",
    "StartAt": "getUrls",
    "States": {
        "getUrls": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${GetUrlsFunctionArn}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "updateOrnot?"
        },
        "updateOrnot?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.state",
                    "BooleanEquals": true,
                    "Next": "htmlParsing"
                },
                {
                    "Variable": "$.state",
                    "BooleanEquals": false,
                    "Next": "Pass"
                }
            ]
        },
        "Pass": {
            "Type": "Pass",
            "End": true
        },
        "htmlParsing": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${HtmlParsingFunctionArn}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "createBatch"
        },
        "createBatch": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${CreateBatchFunctionArn}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "batchSuccess"
        },
        "batchSuccess": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.state",
                    "BooleanEquals": true,
                    "Next": "Pass"
                },
                {
                    "Variable": "$.state",
                    "BooleanEquals": false,
                    "Next": "Fail"
                }
            ]
        },
        "Fail": {
            "Type": "Fail"
        }
    }
}